.build-label {
    display: inline-block;
    padding: .2em .6em .3em;
    font-size: 75%;
    font-weight: 700;
    text-align: center;
    border-radius: .25em;
    color: #FFFFFF;
    background-color: #777777;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
